# Ignore everything except the project lists in official scenario folders
*
!Base_2012/
!Base_2012/HighwayProjectList.csv
!Base_2012/TransitProjectList.csv
!LRTP2040/
!LRTP2040/HighwayProjectList.csv
!LRTP2040/TransitProjectList.csv