# Ignore everything except the project lists in official scenario folders
*
!Base_2012/
!Base_2012/HighwayProjectList.csv
!Base_2012/TransitProjectList.csv
!ORTP_2045/
!ORTP_2045/HighwayProjectList.csv
!ORTP_2045/TransitProjectList.csv