rem this file has environment variables for CT-RAMP batch files

rem set location of java
rem must be a JDK, not just a JRE
set JAVA_64_PATH=C:\Progra~1\Java\jdk1.8.0_31

rem set the location of TransCAD
rem must be version 6 build 9030
set TRANSCAD_PATH=C:\Progra~1\TransCAD_6.0_bld_9030

rem set location of GNU tools
rem tee.exe must be present in the bin folder
set GNUWIN32_PATH=C:\projects\Honolulu\Version6\OMPORepo\generic\programs\GetGnuWin32\bin